@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*       { box-sizing: border-box; }
html    { scroll-behavior: smooth;}
body    { font-size: 18px; font-family: 'Rubik', sans-serif; margin: 0; overflow-x: hidden; }
h1      { font-weight: 500; }
p       { color: var(--grey); line-height: 30px; }
img     { max-width: 100%; }
section { margin: 50px auto; overflow-x: hidden; }
ul      { padding: 0; list-style-type: none; }
a       { display: inline-block; text-decoration: none; cursor: pointer; }

:root {
    --purple: hsl(231, 69%, 60%);
    --red: hsl(0, 94%, 66%);
    --grey: hsl(229, 8%, 60%);
    --dark_blue: hsl(229, 31%, 21%);
    --white_grey: hsl(0, 0%, 87%);
    --dark_grey:  hsl(0, 1%, 73%);
}


/* ---- CONTAINER ---- */
.container {
    width: 1200px;
    max-width: 100%;
    padding: 30px;
    margin: 0 auto;
}
.container-medium {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.container-small {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}


/* ---- FLEX ---- */
.flex, .flex-inline {
    display: flex;
    align-items: center;
}
.flex-reverse {
    display: flex;
}
.flex > div {
   flex: 1;
}
.flex > div:first-child {
    margin-right: 70px;
}


/* ---- NAVIGATION ---- */
nav {
    position: sticky;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: var(--white_grey);
    transition: all 0.5s ease;
}
nav ul {
    align-items: center;
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}
nav ul li a {
    color: black;
    font-weight: 300;
}
.scrolled {
    background-color: var(--dark_grey);
    transition: all 0.5s ease;
}

.logo {
    margin-left: 30px;
}
.menu {
    margin-right: 30px;
}

.mg-top{
    margin-top: 70px;
}


.hamburger {
    width: 40px;
    cursor: pointer;
    display: none;
    margin-right: 30px;
}
[class*="trait"] {
    background-color: black;
    width: 100%;
    height: 4px;
    margin: 8px auto;
    transition: all 0.3s ease;
}


/* ---- BUTTON ---- */
button {
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    border: 1px solid var(--purple);
    background-color: white;
    color: var(--purple);
}
.btn-purple {
    padding: 12px 15px;
    background-color: var(--purple);
    color: white;
}
.btn-purple-card {
    margin-top: 50px;
    padding: 10px;
    background-color: var(--purple);
    color: white;
}
.btn-red {
    color: white;
    background-color: var(--red);
    padding: 8px 25px;
    border-radius: 6px;
    font-size: 18px;
}
.btn-red:hover {
    border: 1px solid var(--red);
    background-color: white;
    color: var(--red);
}
.btn-grey {
    padding: 12px 15px;
    margin-left: 20px;
    box-shadow: 0px 2px 5px 0px var(--grey);
}
.btn-grey:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}


/* ---- FEATURES ---- */
.features-list {
    padding: 0;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
    margin: 50px auto;
    transition: all 0.3s ease;

}
.features-list li {
    list-style-type: none;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 100%;
    transition: all 0.3s ease;
}
.features-list li:hover {
    color: var(--red);
    transition: all 0.3s ease;
    border-bottom: 1px solid var(--red);
    transition: all 0.3s ease;
}

.info-features.activeContenu img {
    animation: slideLeft 1s forwards;
}
.info-features.activeContenu .flex div:last-child {
    animation: slideRight 1s forwards;
}


/* ---- EXTENSION ---- */
.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    z-index: -1px;
    overflow-y: none;
}
.card {
    position: relative;
    padding: 30px;
    margin: 15px;
    border: 1px solid black;
}
.card:nth-child(2) {
    transform: translateY(50px);
}
.card:nth-child(3) {
    transform: translateY(100px);
}


/* ---- IMAGES ---- */
.img-dots {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 90px;
}
.img-arrow {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 4rem;
}


/* ---- QUESTIONS ---- */
.flex-question-list {
    margin: 60px auto;
}
.flex-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
}
.flex-question:hover {
    color: var(--red);
}
.border-grey {
    border: 1px solid var(--grey);
}
.left {
    text-align: left;
}
.icon-arrow {
    width: 18px;
    height: 12px;
}
.icon-close {
    padding: 3px;
    border-radius: 50%;
    background-color: var(--red);
}


/* ---- CONTACT ---- */
.contact {
    background-color: var(--purple);
    padding: 40px;
}
form {
    display: flex;
    justify-content: space-evenly;
}
.container-form {
    display: flex;
    position: relative;
    width: 60%;
}
input[type="email"] {
    padding: 10px 0;
    width: 100%;
    border-radius: 6px;
    text-indent: 15px;
    border: transparent;
}
.icon-error {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}
form .smallError {
    display: none;
    position: absolute;
    top: 50px;
    padding-top: 5px;
    width: 100%;
    height: 30px;
    text-align: center;
    text-indent: 15px;
    background-color: var(--red);
}

form.error input {
    border : 1px solid var(--red);
}
form.error .icon-error, form.error .smallError {
    display: block;
}


/* ---- FOOTER ---- */
footer {
    color: white;
    display: block;
    background-color: var(--dark_blue);
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list li{
    width: 130px;
    justify-content: space-between;
}
.footer-list li a, .social-network li a {
    color: white;
}
footer a:hover::after, nav a:hover::after {
    width: 100%;
    transition: width 0.3s;
}
.social-network {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}


/* ---- EFFECT ---- */
.hide {
    display: none;
}
.display {
    display: block;
}
a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: white;
}
nav a::after {
    background: black;
}
.opacity {
    animation: fade 1s forwards;
}
.active {
    border-bottom: 2px solid var(--red);
}


/* ---- KEYFRAMES ---- */
@keyframes fade {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@keyframes slideLeft {
    from    { transform: translateX(-120%); }
    to      { transform: translateX(0); }
}
@keyframes slideRight {
    from    { transform: translateX(120%); }
    to      { transform: translateX(0); }
}


/* ---- RESPONSIVE ---- */
@media screen and (max-width: 790px) {
    nav a::after {
        background: white;
    }
    .mg-top{
        margin-top: 0;
    }

    .flex  {
        display: flex;
        flex-direction: column;
    }
    .flex-inline {
        justify-content: center;
        text-align: center;
    }
    .flex-reverse {
        flex-direction: column-reverse;
        text-align: center;
        margin-right: 0;
    }
    .flex > div:first-child, .flex > div:last-child{
        margin: 0;
        text-align: center;
    }

    .cards, form, .footer-flex, .flex-question {
        flex-direction: column;
    }
    .contact {
        padding: 40px;
    }
    .container-form {
        margin-bottom: 20px;
        width: 100%;
    }
    .btn-question {
        margin-top: 20px;
    }

    .menu {
        position: absolute;
        top: 62px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 93vh;
        background-color: var(--purple);
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        opacity: 0.9;
    }
    .menu a {
        text-transform: uppercase;
        color: white;
    }
    .menu.menu-active{
        transform: translateX(0%);
    }

    .menu.menu-active li{
        padding: 30px;
    }
    .hamburger {
        display: block;
    }
    .animation .trait1 {
        transform: rotate(-45deg) translate(-7px, 10px);
    }
    .animation .trait2 {
        transform: translateX(-50%);
        opacity: 0;
    }
    .animation .trait3 {
        transform: rotate(45deg) translate(-7px, -10px);
    }
}

@media screen and (max-width: 420px){
    nav {
        position: fixed;
        top: 0;
        width: 100%;
    }
    header {
        margin-top: 65px;
    }
    .menu.menu-active li{
        padding: 20px
    }
}